@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    background-color: rgb(253, 239, 239);
}
#header{
    display: flex;
    background-color: rgb(132, 0, 255);
    height: 180px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    box-shadow: 0px 0px 1px black;
}

#titulo h1{
    font-family: 'Luckiest Guy', cursive;
    font-size: 100px;
    text-shadow: 0px 0px 80px rgb(227, 117, 255);
}

#main{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

#botoes{
    display: flex; 
    justify-content: space-around; 
}

.subtitulo{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.subtitulo h2{
    font-size: 50px;
    font-family: 'Luckiest Guy', cursive;
    color:rgb(132, 0, 255);
    text-shadow: 0px 0px 25px black;
}

#Jogar{
    display: flex;
    justify-content: center;
}

#footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer h1{
    font-size: 20px;
    font-family: 'Luckiest Guy', cursive;
    color:rgb(132, 0, 255);
    text-shadow: 0px 0px 25px black;
}
